body {
	background-color:#B5B5B5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1em;
} 

a{	padding:10px;}

input{	
		margin-bottom:3%;
		cursor:pointer; 
	 }

.loginLinks{
	margin:10px;
}
.loginLinksItem{
	margin:10px;
}

.filtersMenu{
}


.categoriesMenu{
	margin-top:50px;
	float:left;
	width:200px;
}
.categoriesMenuItem{
	margin:1px;
	width:200px;
}
.categoriesMenuButton{
	margin:1px;
	width:200px;
	text-align: left;
	border-color: black;
	padding: 5px;
}
.categoriesMenuButtonActive{
	margin:1px;
	width:200px;
	text-align: left;
	background-color:white; 
	border-color: black;
	border-right-color: white;
	padding: 5px;
}



.divTable{
  display:table;         
  width:auto;         
  background-color: white;          
  border:1px solid  black;         
 /*  border-spacing:2px;cellspacing:poor IE support for  this */
}
.divRow{
  display:table-row;
  width:auto;
  clear:both;
  border:1px solid  black;
}
.pagingRow{
  display:table-row;
  width:auto;
  clear:both;
  border:1px solid  black;
}
.divCell_header{
  font-weight:bold;
  float:left;
  display:table-column;         
  width:200px; 
  height:20px;
  padding:10px;       
  background-color:#ccc;  
}	
.divCell_2{
  float:left;
  display:table-column;         
  width:200px; 
  height:20px;
  padding:10px;       
  background-color:white;
  word-wrap:break-word;
  overflow:hidden; 
  border-top:1px solid  black;
}
.divCell_dark{
  float:left;
  display:table-column;         
  width:200px; 
  height:20px;
  padding:10px;       
  background-color:#E8E8E8;  
}
.divQuestionColor{
	color:#1874CD;
}
.change_order_sign{
	margin-top:0%;
	padding:0%; 
}


.checkedPage{
	color:red;
}

.normal {
	background-color: #ffffff
}

.over {
	background-color: #f0ffa9
}

ul.paging {
	margin: 0;	
}

ul.paging li {
	display: inline;
	padding: 2px;
}


