#col1 {
	width:100%;
	min-width: 450px;
}

#col2 {
	max-width: 130px;
	min-width: 120px;
}
#col3 {
	max-width: 130px;
	min-width: 120px;
}
#col4 {
	max-width: 130px;
	min-width: 100px;
}
#col5 {
	max-width: 130px;
	min-width: 120px;
}

#questionsList{
	width:90%;
}

#questions_table_categories {
	vertical-align: top;

}

#questions_table_questions{

	
}

.row {
	width:95%;
	
}

.questions_table{
	padding:20px;
}

#categoriesMenu{
	margin-top: 33px;
}

.nav-left{
	min-width:850px;
}
.nav {
	min-width:580px;
}